body{
    margin: 0;
}

.left-div{
width: 50%;
height: 650px;
background-image: url("twitter.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 650px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
float: left;
}
.right-div{
    width: 50%;
    height: 650px;
    background-color: black;
    float: left;
    }
    .bottom-div{
        width: 100%;
        height: 60px;
        background-color: black;
        float: left;

        }