body{
    margin: 0;
}

.left-div{
width: 50%;
height: 650px;
background-image: url("twitter.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 650px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
float: left;
}
.right-div{
    width: 50%;
    height: 650px;
    background-color: black;
    float: left;
    }
    .bottom-div{
        width: 100%;
        height: 80px;
        background-color: black;
        float: left;

        }
        .about{

            font-size: 13px;
            padding-right: 10px;
            color: rgb(113, 118, 123);
            font-weight: 500;
            font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            line-height: 16px;
            text-decoration: none;
            cursor: pointer;
        }
        .bottom-container{
            margin-top: 16px;
            margin-left: 40px;
            margin-right: 40px;
            cursor: pointer;
        }
        .settings{
            margin-left: 45%;
            margin-top: 6px;
        }